<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ "css/kudos.css" }}">
    {% include kudosHead.html %}
    <link rel="stylesheet" href="{{ "css/default.css" }}">
     <meta name="description" content="LivePerson Knowledge Center">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
</head>
<body>
  <div class="kudosWrapper">
    <h1 class="kudosTitle">Welcome to the Kudos Bot! Click <a href="" onclick="startEngagement(event)">here</a> to get started</h1>
  </div>
</body>
<script type="text/javascript">
function startEngagement (event) {
  event.preventDefault();
  lpTag.taglets.rendererStub.click(1436815850);
}
</script>
</html>
