<!DOCTYPE html>
<head>
    {% include kudosHead.html %}
    <link rel="stylesheet" href="{{ "css/default.css" }}">
    <link rel="stylesheet" href="{{ "css/kudos.css" }}">
     <meta name="description" content="LivePerson Knowledge Center">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
</head>
<body>
  <div class="kudosWrapper">
    <h1 class="kudosTitle">Hey this will be a bot page</h1>
  </div>
</body>
</html>
